.error_page{
    text-align: center;
    font-family: 'Inter';
    margin-top: 100px;
    margin-right: 100px;
}
.error_title{
    position: relative;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 50px;
}
.nodata_image{
    width: 20rem;
}
.error_description{
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
}
@media (max-width:768px){
    .error_page{
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
    }
    .error_title{
        position: relative;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 100px;
        bottom: -30px;
    }
    .nodata_image{
        width: 70%;
    }
    .error_description{
        position: relative;
        top: -30px;
    }
}