.starting_page {
  text-align: center;
  margin-top: 200px;
}
.search_bar_logo {
  position: relative;
  width: 280px;
  height: 67px;
  margin: 10px;
}
.search_bar {
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  padding-left: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.fang_search_button {
  display: none;
  width: 220px;
  height: 36px;
  background: #d9d9d9;
  border-radius: 35px;
  margin-top: 20px;
}
.starting_page ul {
  list-style: none;
  position: relative;
  width: auto;
  top: -15px;
  left: -30px;
  display: inline-block;
  text-align: center;
}
.starting_page li {
  float: left;
  margin: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.starting_page_search {
  position: absolute;
  width: 24px;
  top: 328px;
  left: 28%;
}
.starting_page_camera{
    display: none;
}
.starting_page_mic{
    display: none;
}
.suggestions{
  width: auto;
  position: absolute;
  text-align: left;
  left: 27%;
  z-index: 2;
  padding-left: 50px;
  padding-right: 50px;
  background: #FEFEFE;
  outline-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 35px 35px;
}
@media (max-width: 768px) {
  .search_bar_logo {
    width: 210px;
    height: 56px;
  }
  .starting_page ul{
    left: -15px;
  }
  .search_bar {
    box-sizing: border-box;

    position: absolute;
    width: 90%;
    height: 37px;
    left: 5%;
    padding-left: 40px;
    background: #ffffff;
    border: 1px solid #e0dbdb;
    border-radius: 50px;
  }
  .suggestions{
    padding-right: 20px;
    padding-left: 20px;
    line-height: 20px;
    left: 10%;
    top: 52%;
  }
  .fang_search_button {
    display: none;
  }
  .starting_page_search{
    position: absolute;
    top: 312px;
    left: 7%;
  }
  .starting_page_camera{
    display: block;
    position: absolute;
    width: 24px;
    top: 312px;
    right: 9%;
  }
  .starting_page_mic{
    display: block;
    position: absolute;
    width: 24px;
    top: 312px;
    right: 17%;
  }
}
