.search_svg{
/* magnifier */


position: absolute;
width: 16px;
height: 16px;
left: 153px;
top: 117px;
}
.all-text{
    /* All */


position: absolute;
width: 24px;
height: 0px;
left: 175px;
top: 116px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #4638E2;
}