.results_count{
    position: absolute;
width: 273px;
height: 17px;
left: 159px;
top: 154px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: rgba(0, 0, 0, 0.78);

border: 1px solid rgba(245, 245, 245, 0.1);
}